.page-not-found-main-container1 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #161625;
}
.page-not-found-heading {
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  color: #cbd5e1;
}

.page-not-found-element-button {
  width: Hug (88px);
  height: Hug (48px);
  padding: 12px 24px 12px 24px;
  border-radius: 12px;
  gap: 8px;
  background-color: #2563eb;
  color: #ffffff;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.page-not-found-element-paragraph1 {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #94a3b8;
}
