.main-container {
  background-color: #1e1e30;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-heading1 {
  font-family: Bree Serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #f8fafc;
}
.main-heading2 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #3b82f6;
}
.para-main1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #94a3b8;
  margin-right: 20px;
}
.second-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.selected-page {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #f8fafc;
}
.button-design {
  background-color: transparent;
  border-style: none;
  border: 0px;
}
